.triangle {
    width: 100px;
    height: 100px;
    background: url("./triangle.svg") no-repeat center/contain;
    position: relative;
    align-content: center;

    div {
        display: flex;
        justify-content: center;
    }
}

.rectangle {
    width: 100px;
    height: 100px;
    background: url("./rectangle.svg") no-repeat center/contain;
    position: relative;
    align-content: center;

    div {
        display: flex;
        justify-content: center;
    }
}

.parallelogram {
    width: 100px;
    height: 100px;
    background: url("./parallelogram.svg") no-repeat center/contain;
    position: relative;
    align-content: center;

    div {
        display: flex;
        justify-content: center;
    }
}

.trapezoid {
    width: 100px;
    height: 100px;
    background: url("./trapezoid.svg") no-repeat center/contain;
    position: relative;
    align-content: center;

    div {
        display: flex;
        justify-content: center;
    }
}
