.triangle {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}

.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
}

.parallelogram {
    width: 100px;
    height: 50px;
    transform: skew(20deg);
    background: #555;
}

.trapezoid {
    border-bottom: 50px solid #555;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 125px;
}
