.shape {
    width: 100px;
    height: 100px;

    > .nodeLabel {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        word-wrap: break-word;
        overflow: hidden;
        line-height: 1.2;
        font-size: 14px;
        max-width: 80%;
        max-height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.triangle {
    @extend .shape;
    background-image: url("./triangle.svg");
}

.rectangle {
    @extend .shape;
    background-image: url("./rectangle.svg");
}

.parallelogram {
    @extend .shape;
    background-image: url("./parallelogram.svg");
}

.trapezoid {
    @extend .shape;
    background-image: url("./trapezoid.svg");
}
